@use "../utilities" as *;

/**----------------------------------------
START: Theme Form CSS
----------------------------------------*/
.form-group {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background: #ffffff;
	border-radius: 6px;
	padding: 15px 16px 15px;
	min-height: 76px;
	z-index: 1;
	row-gap: 16px;

	.anim-btn {
		right: 16px;
		top: 16px;
		background-color: #E50071;
		color: #ffffff;
	}
}

label {
	display: block;
	font-size: 14px;
	color: #00000080;
}

.form_input {
	width: 100%;
	input,
	textarea {
		font-size: 16px;
		font-family: var(--tj-ff-body);
		color: var(--tj-color-common-black);
		padding: 12px 0;
		border: none;
		width: 100%;
		background-color: transparent;
		&::-ms-input-placeholder {
			color: var(--tj-color-common-black);
			font-size: 20px;
		}
		&::placeholder {
			color: #00000080;
			font-size: 20px;
			font-weight: 600;
		}
		&:focus,
		&:focus-visible {
			outline: none;
			box-shadow: 0 0 0;
		}
	}
	textarea {
		min-height: 20px;
		resize: none;
	}
}
/* !END: Theme Form CSS */
