@use "../utilities" as *;

/**----------------------------------------
START: Theme Section Title CSS
----------------------------------------*/
.sec_title {
    .title {
        margin-bottom: 16px;
        display: inline-block;
    }

    .desc {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        color: #000000;
        margin-top: 8px;

        ul {
            margin-top: -12px;
            margin-left: 32px;
        }
    }
}
/* !END: Theme Section Title CSS */
