* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#main-content {
    flex: 1;
    overflow-y: auto;
    background-color: $surface-secondary;
    display: flex;
    flex-direction: column;
}

ul, 
ol {
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

// a {
//     text-decoration: none;
//     color: inherit;
// }

img {
    max-width: 100%;
    height: auto;
}