.toast {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: $success;
    color: $text-white;
    padding: 16px;
    border-radius: $border-radius-sm;
    opacity: 0;
    transition: opacity $transition-speed ease;
    z-index: $z-tooltip;
    
    &.show {
        opacity: 1;
    }
}