$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #253081,
	),
	text: (
		body: #253081,
	),
	theme: (
		primary: #E50071,
		bg: #E0EDF9,
		bg-2: #E0EDF9,
	),
	grey: (
		1: #8389B5,
	),
	border: (
		1: #D9D9D9,
		2: #D8D8D8,
	),
);
