@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Noto Serif Georgian', serif;
}

p {
    font-family: 'Raleway', sans-serif;
}
