.step {
    display: none;
    padding: $spacing-xl;
    max-width: $container-width;
    margin: 0 auto;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity $transition-speed, transform $transition-speed;

    &.active {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    & > * {
        margin-bottom: $spacing-md;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h4 {
        color: $text-heading;
    }
}

@include mobile {
    step {
        padding: $spacing-lg;
    }
}