.field-area {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 16px;
    border: 1px solid $primary-light;
    border-radius: 8px;
    background-color: #ffffff;

    input, textarea {
        border: 0;
        font-size: 16px;
        color: $primary-dark;
        resize: none;

        &:focus {
            outline: none;
            border: none;
        }
    }
}

.field-button-area {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.er-button {
    padding: 12px 32px;
    color: $primary-dark;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 800;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;

        img {

        }
    }

    &.primary-button {
        background-color: $secondary-dark;
        border: 0;
        color: #ffffff;

        &:hover {
            background: $secondary-dark-hover;
        }
    }

    &.secondary-button {
        background-color: transparent;
        border: 2px solid $secondary-dark;

        &:hover {
            background-color: $secondary-color;
        }
    }

    &.tertiary-button {
        padding: 0px;
        border: 0;
        background-color: transparent;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;

        &:hover {
            color: $secondary-dark;
        }
    }

    img {
        padding-left: 8px;
    }
}

.field-caption {
    display: flex;
    gap: 8px;

    p {
        margin: 0;
    }

    button {
        justify-content: center;
        width: 100%;
    }
}

.field-caption-icon {
    width: 40px;
    height: 42px;
    display: block;
}

.card-area {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;

    .card {
        background: #ffffff;
        padding: 16px;
        border-radius: 8px;
        flex-basis: calc(50% - 8px);
        position: relative;

        &:hover {
            cursor: pointer;
        }

        &.focused {
            border: 2px solid $secondary-color;
        }
    }

    .card-header {
        display: flex;
        gap: 12px;
    }

    .card-title {
        font-size: 20px;
        font-weight: bold;
        color: #ff6600;
    }

    .card-body {
        padding-bottom: 16px;
    }

    .card-arrow {
        position: absolute;
        right: 12px;
        bottom: 8px;
    }
}

/* Mobile Responsiveness */
@media screen and (max-width: 580px) {
    .card-area {
        .card {
            flex-basis: 100%
        }
    }

    .er-button {
        padding: 8px 20px;
        font-size: 12px;
    }
}